body{
background-color: aqua;
}
div.wrap{
width: 1000px;
margin:0px auto;
}
div.Title{
background-color: beige;
width: 1000px;
height: 50px;
font-size: 45;
text-align: center;
margin-bottom: 20px;
}
div.menu{
font-size: 0;
}
div.menuitem1{
display: inline-block;
vertical-align: top;
}
div.item1{
width:250px;
height:40px;
font-size:30;
margin-bottom:10px;
background-color: white;
text-align: center;
}
div.item2{
width:250px;
height:40px;
font-size:30;
margin-bottom:10px;
background-color: white;
text-align: center;
}
div.item3{
width:250px;
height:40px;
font-size:30;
margin-bottom:10px;
background-color: white;
text-align: center;
}
div.menuitem2{
display: inline-block;
vertical-align: top;
}
img{
width:700;
height:500;
margin-left:50;
}
div.bun{
width:700;
font-size:15;
margin-left:50;
background-color:white;
}
div.footer{
width: 1000px;
height: 40px;
background-color: beige;
font-size: 15px;
text-align: right;
color: black;
margin-top: 20px;
}